@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@keyframes NavMove {
  from {
    left: -100vw
  }
  to {
    left: 0;
  }
}

@keyframes RestMove {
  0% {
    left: -100vw
  }
  50% {
    left: 0vw;
  }
  100% {
    left: 80vw
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --height: 6.25rem;
  --white-bg: #fff;
  --white-text: #f7f7f8;
  --ack-bg: #f5fcfe;
  --black-text: #2e3d49;
  --grey-bg: #6d7780;
  --nav-bars: #02b3e4;
  --button-bg: #017a9b;
  --default-font: 'Open Sans', sans-serif;
  --border-color: #c8cdd2;
  --box-shadow: 0 1px 20px 0 rgba(46, 61, 73, .2);
  --animation-speed: 0.75s;
  --flag-red: #ad3959;
  --card-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
  --yellow: #ffae0c;
  --green: #15c26b;
  --purple: #a951ed;
  --light-grey: rgba(29, 124, 248, .05);
  --footer-shadow: 12px 16px 20px 0 rgba(46, 61, 73, .2);
  --mobile-menu-bg: #1c262f;
  --get-started: #02ccba;
}

body {
  font-family: var(--default-font);
  color: var(--black-text);
  position: relative;
}

body.active,header.active, header.active+main {
  overflow: hidden;
}


body.active {
  left: 75vw;
  animation-name: NavMove;
  animation-duration: var(--animation-speed);
}

footer {
  background: linear-gradient(to bottom right, #f7f7f7, #eafbff);
  padding: 30vw 1vw 10vw;
}

.container {
  max-width: 80vw;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

ul, li {
  list-style: none;
}

.main-container {
  width: 100%;
  min-height: 100vh;
}

.active-stars {
  text-indent: -9999px;
  height: 4vw;
  background: url('../img/icon-star-large-gray.svg');
  display: block;
  position: relative;
  z-index: 3;
}

.active-stars.four-half-stars {
  width: 20vw;
  background-size: 4vw;
}

.active-stars.four-half-stars:after {
  content: '';
  position: absolute;
  top: 0;
  left: -0.0625rem;
  height: 4vw;
  background: url('../img/icon-star-large-yellow.svg');
  background-size: 4vw;
  z-index: -1;
  width: 18.45vw;
}

.btn {
  background: var(--button-bg);
  max-width: 50vw;
  width: 100%;
  padding: 2vw 8vw;
  font-size: 5vw;
  border-radius: 1vw;
  font-family: var(--default-font);
  display: flex;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white-text);
  font-weight: 600;
}

.btn.school-btn {

}

.blue-list {
  background: var(--button-bg);
}

.white-list {
  background: var(--white-text);
}

.grey-list {
  background: var(--grey-bg);
}

@media only screen and (min-width: 768px) {
  .main-container {
    margin-top: calc(var(--height) - 0);
  }

  body.active {
    left: 35vw;
  }
}