.hero-sponsors {
  display: none;
}

.hero-content {
  background: url("../../img/HomepageBanner_tablet.jpg") no-repeat;
  background-size: 200%;
  background-position: bottom right -30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4vw;
  color: var(--white-text);
  text-align: center;
}

.hero-content-top, .hero-content-middle {
  padding-bottom: 4vw;
}

.hero-title {
  font-size: 9vw;
}

.hero-text {
  font-size: 5vw;
}

/* "SKILL LIST " */

.hero-skills-top {
  text-align: center;
  font-size: 6vw;
  margin: 3vw 0;
}

.hero-skills-middle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
}

.hero-skills-title {
  font-weight: 300;
}

.hero-skills-title>b {
  font-weight: 400;
}

.hero-skill-list-left .hero-skill-list-title {
  visibility: hidden;
}

.hero-skill-list-title, .hero-list-item {
  border: 0.1vw solid var(--white-text);
}

.hero-skill-list-left {
  text-align: left;
}

.hero-skill-list-middle, .hero-skill-list-right {
  text-transform: uppercase;
  color: var(--white-text);
  text-align: center;
}

.hero-skill-list-left .hero-skill-list-title, .hero-skill-list-middle .hero-skill-list-title, .hero-skill-list-right .hero-skill-list-title {
  padding: 2vw 1vw;
}

.hero-list-item {
  font-size: 3.5vw;
  padding: 5vw 1vw;
  height: 16vw;
}

.hero-skills-middle .container {
  max-width: 100vw;
}

@media only screen and (min-width: 768px) {
  .hero-sponsors {
    display: block;
  }
  .hero-content {
    background: url("../../img/HomepageBanner_tablet.jpg") no-repeat;
    background-size: cover;
    background-position: bottom right 0;
    align-items: flex-start;
    padding: 4vw 4vw 0;
    text-align: unset;
  }
  .hero-title {
    font-size: 3vw;
  }
  .btn-hero {
    font-size: 2vw;
    margin-bottom: 2vw;
  }
  .hero-icons {
    display: flex;
    flex-direction: row;
  }
  .hero-text, .hero-sponsor-text {
    font-size: 2vw;
  }
  .icon-item {
    height: fit-content;
  }
  .hero-content-middle, .hero-sponsor, .hero-sponsors-icons {
    width: 70%;
  }
  .hero-sponsors-icons {
    margin-top: 2vw;
  }

  
  /* "SKILL LIST " */
  .hero-skills-top {
    font-size: 2.5vw;
  }
  .hero-list-item {
    font-size: 2.1vw;
    padding: 2vw 1vw;
    height: 7vw;
  }

  .hero-skills-middle .container {
    max-width: 80vw;
  }
}

@media only screen and (min-width: 1920px) {
  .showcase-hero {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50%;
  }
  .hero-content {
    padding: 1vw;
    background-position: bottom right -7vw;
    background-size: 126%;
  }

  .hero-title {
    font-size: 1.5vw
  }

  .hero-text, .hero-sponsor-text {
    font-size: 1vw
  }

  .hero-content-top, .hero-content-middle {
    padding-bottom: 1vw;
  }

  /* "SKILL LIST" */
  .hero-skills-top {
    font-size: 1.5vw;
  }
  .hero-skill-list-left .hero-skill-list-title, .hero-skill-list-middle .hero-skill-list-title, .hero-skill-list-right .hero-skill-list-title {
    padding: 1vw;
  }

  .hero-skills-top {
    margin: 0 0 3vw;
    font-size: 1vw;
  }

  .hero-list-item {
    font-size: 0.8vw;
    height: 2.29vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1vw;
  }

  .hero-skill-list-left .hero-list-item {
    display: flex;
    justify-content: flex-start;
  }
}