.hero-sponsors {
  display: none;
}

.main-hero-content {
  max-height: 72vh;
  height: 100%;
  background: url("../../img/HomepageBanner_tablet.jpg") no-repeat;
  background-size: cover;
  background-position: bottom right -78vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 21vw;
  color: var(--white-text);
}

.main-hero-content .hero-title, .main-hero-content .hero-text, .main-hero-content .hero-link {
  font-weight: 500;
  text-align: center;
}

.main-hero-content .hero-title {
  margin-bottom: 10vw;
  font-size: 6.2vw;
  line-height: 1;
}

.main-hero-content .hero-text {
  text-align: center;
  font-size: 4vw;
  margin-bottom: 10vw;
}

@media only screen and (min-width: 320px) {
  .main-hero-content {
    background-position: bottom right -56vw;
  }
}

@media only screen and (min-width: 360px) {
  .main-hero-content {
    background-position: bottom right -58vw;
  }
}

@media only screen and (min-width: 540px) {
  .main-hero-content {
    background-position: bottom right -42vw;
  }
}

@media only screen and (min-width: 768px) {
  .main-hero-content {
    max-width: 100%;
    background-size: 159%;
    background-position: bottom right -15vw;
    margin-top: 12vw;
    align-items: flex-start;
    padding: 4vw;
  }
  .main-hero-content .hero-title, .main-hero-content .hero-text, .main-hero-content .hero-link {
    text-align: left;
  }
  .main-hero-content .hero-title {
    font-size: 3.2vh;
    margin-bottom: 3vw
  }
  .main-hero-content .hero-text {
    font-size: 2.2vw;
  }
  .main-hero-content .hero-link .btn {
    font-size: 1.5vh;
    padding: 0.9rem 3rem;
  }
  .hero-sponsors {
    display: block;
    margin-top: 4vh;
  }
  .hero-sponsors .hero-sponsor-text {
    font-size: 3vw;
  }
  .hero-sponsors-icons .hero-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
}

@media only screen and (min-width: 992px) {
  .main-hero-content .hero-title {
    font-size: 5vw;
  }
  .main-hero-content .hero-text {
    font-size: 3vw;
  }
  .main-hero-content .hero-sponsor-text {
    font-size: 1.5vh;
  }
}

@media only screen and (min-width: 1024px) {
  .main-hero {
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .main-hero-content {
    margin-top: 9.5vw;
    padding: 1vw;
    background-position: center right -26vw;
    background-size: cover;
  }
  
}


@media only screen and (min-width: 1920px) {
  .main-hero {
    margin-top: 4.9vw;
  }
  .hero-container {
    padding: 4vw;
  }

  .main-hero-content {
    margin: 0;
    background-position: center;
    background-size: cover;
    height: 100%;
  }

  .main-hero-content .hero-title {
    margin-top: 2vw;
    margin-bottom: 0;
    font-size: 2.3vw;
  }
  .main-hero-content .hero-text {
    font-size: 1vw;
    margin-bottom: 2vw;
  }
}