#button-trigger {
  display: none;
}

.main-navigation {
  display: none;
  position: fixed;
  left: -100vw;
  opacity: 0;
}

.main-navigation.active {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80vw;
  background: var(--black-text);
  animation-name: NavMove;
  animation-duration: var(--animation-speed);
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 100;
  height: 100%;
}

.nav-top {
  height: calc(var(--height) - 1.75rem);
  background: var(--mobile-menu-bg);
}

.nav-top>a {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.navigation {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navigation-items {
  height: calc(var(--height) - 1.75rem);
  width: 80vw;
}

.nav-item {
  color: var(--white-bg);
  text-decoration: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 2vw 4vw;
}

.nav-item svg {
  fill: #fff;
}

.menu-wrapper {
  height: calc(var(--height) - 1.75rem);
}

#menu-bars {
  max-width: 1.375rem;
  display: block;
  position: relative;
  width: 100%;
  height: 50%;
  border-bottom: 0.25rem solid var(--nav-bars);
  z-index: 3;
  cursor: pointer;
  border-radius: 0.0625rem;
}

#menu-bars:before {
  border-top: 0.25rem solid var(--nav-bars);
  top: 1.625rem
}

#menu-bars:after, #menu-bars:before {
  cursor: pointer;
  content: '';
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  z-index: 2;
  border-radius: 0.0625rem;
}

#menu-bars:after {
  border-bottom: 0.25rem solid var(--nav-bars);
  bottom: -0.625rem;
}

.header-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.logotype-block {
  justify-self: start;
  align-self: center;
}

.sign-in, .get-started {
  font-family: var(--default-font);
}

.sign-in {
  color: var(--nav-bars);
}

.get-started {
  color: var(--green);
}

.active .container {
  max-width: 80vw;
}

@media only screen and (min-width: 768px) {
  .main-navigation.active {
    max-width: 40vw;
  }
}

@media only screen and (min-width: 1920px) {
  .header-main {
    display: flex;
    padding-top: 1vw;
  }
  .menu {
    width: 100%;
  }
  .menu-wrapper {
    display: none;
  }
  .main-navigation {
    display: flex;
    left: 0;
    opacity: 1;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  .logotype-block {
    display: none;
  }
  .nav-top {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    height: calc(var(--height) - 0vw);
    background: transparent;
    width: 100%;
  }
  .navigation {
    flex-direction: row;
  }
  .navigation-items {
    display: flex;
    height: 100%;
    padding: 0px 1vw;
    width: 11vw;
    align-self: center;
    justify-content: center;
  }

  .navigation-items:last-child {
    padding-right: 0;
    width: 7.5vw;
  }

  .navigation-items:first-child {
    padding-left: 0;
  } 

  .navigation-items svg {
    fill: var(--grey-bg);
    transform: rotate(90deg);
  }
  .navigation-items:nth-child(4) {
    border-left: 0.1vw solid var(--border-color);
  }
  .item, .item:visited {
    padding: 0;
    color: var(--border-color);
    width: auto;
  }

  .nav-item {
    padding: 0;
    height: unset;
    width: unset;

  }
  .sign-in {
    color: var(--border-color);
  }
  .get-started {
    width: 100%;
    background: var(--button-bg);
    color: var(--white-text);
    font-family: var(--default-font);
    border-radius: 0.1875rem;
    text-transform: uppercase;
    padding: 0.2vw;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
  }
}