/* Programs */

.main-programs-top {
  text-align: center;
  font-size: 4vw;
  margin: 6vw auto;
}


.image:before {
    content: '';
    background: linear-gradient(76deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.image {
  z-index: 3;
  position: relative;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 5vw;
}

.card-footer-top {
  font-size: 2vw;
}

.footer-title {
  font-size: 5vw;
}

.child-item {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}

@media only screen and (min-width: 768px) {
  .main-programs-top {
    font-size: 2vw;
  }

  .card-middle {
    font-size: 3vw;
  }

  .card-bottom {
    font-size: 3vw;
  }

  .footer-title {
    font-size: 2vw;
  }
}