/* Programs */

.main-programs-top {
  text-align: center;
  font-size: 4vw;
  margin: 6vw auto;
}


.image:before {
    content: '';
    background: linear-gradient(76deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.image {
  z-index: 3;
  position: relative;
  width: 100vw;
  height: 50vw;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 5vw;
}

.card-footer-top {
  font-size: 2vw;
}

.footer-title {
  font-size: 5vw;
}

.child-item {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}

@media only screen and (min-width: 768px) {
  .main-programs-top {
    font-size: 2vw;
  }

  .card-middle {
    font-size: 3vw;
  }

  .card-bottom {
    font-size: 3vw;
  }

  .footer-title {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 1920px) {
  .main-programs-top {
    font-size: 1vw;
    margin: 2vw 0 1vw
  }

  .schools {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .image {
    height: 10vw;
    width: 25vw;
  }

  .card-middle {
    font-size: 1.2vw;
  }

  .card .container {
    padding: 1vw;
  }
  .card-bottom {
    padding: 1vw 0px;
    font-size: 1vw;
    align-items: unset;
  }

  .card-footer-top {
    font-size: 1.5vw;
  } 

  .footer-title {
    font-size: 1vw;
  }

  .child-item .card {
    margin: 1vw;
  }
}