.main-programs {
  margin-top: calc(10vh - 6vh);
  margin-bottom: calc(10vh - 6vh);
}

.main-programs .programs-title {
  text-align: center;
  font-size: 2vh;
  padding: 4vh 5vw 2vh;
}

.main-programs .program-list-has-child {
  display: none;
  opacity: 0;
}

.main-programs .open+.program-list-has-child {
  opacity: 1;
  transition: all var(--animation-speed) ease;
  width: 100%;
  height: 100%;
  display: block;
}

.main-programs .child-item {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

.main-programs .cards .card {
  padding: 1vh;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--white-bg)
}

.main-programs .cards .card a {
  box-shadow: var(--card-box-shadow);
  text-decoration: none;
  border-radius: 0.12rem;
  display: block;
  height: 100%;
  width: 100%;
  color: var(--grey-bg);
}

.main-programs .card .card-image {
  height: 30vh;
  max-height: 100%;
  width: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  z-index: 3;
}

.main-programs .card .card-image::before {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(76deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.main-programs .card-top, .main-programs .card-middle, .main-programs .card-bottom {
  height: 100%;
  width: 100%;
}

.main-programs .card-bottom, .main-programs .card-middle, .main-programs .card-footer {
  padding: 2vw 2vw;
}

.main-programs .card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-programs .card-bottom .result {
  font-size: 4vw;
}

.main-programs .card-footer .card-footer-top {
  font-size: 1.6511867905056758vh
}

.main-programs .card-footer .card-footer-bottom {
  font-size: 2.3vh;
}